.collaboration-cursor__caret {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  word-break: normal;
  pointer-events: none;
}

.collaboration-cursor__label {
  position: absolute;
  top: -1.6em;
  left: -1px;
  font-size: 12px;
  font-weight: 600;
  font-family: var(--font-sans);
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  z-index: 50;
  box-shadow: var(--shadow-sm);
}
